{% extends 'base.html' %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block content %}
<ul class="nav nav-pills sticky-top bg-white nav-fill">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'main-page' %}">
      <span style="font-weight: bold;">Главная</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'top-sellers' %}"><span style="font-weight: bold;">Топ продавцов</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'advertisement-post' %}">
      <span style="font-weight: bold;">Разместить объявление</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'register' %}">
      <span style="font-weight: bold;">Регистрация</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'login' %}">
      <span style="font-weight: bold;">Войти</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'profile' %}">
      <span style="font-weight: bold;">Профиль</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      <span style="font-weight: bold;">Выйти</span>
    </a>
  </li>
</ul>

<div id="carouselExampleControls" class="carousel slide bg-primary" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'img/item.png' %}" class="mx-auto d-block w-33" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'img/item.png' %}" class="mx-auto d-block w-33" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'img/item.png' %}" class="mx-auto d-block w-33" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Предыдущий</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Следующий</span>
  </button>
</div>
<div class="container" style="margin: 50px;">
  <div class="display-2">
    <span class="badge bg-primary">В центре внимания</span>
  </div>
</div>
<div class="container">
  <div class="row">
    <ul class="nav nav-tabs bg-white">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Проверенные продавцы</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Новинки</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Избранное</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Еще что-нибудь</a>
      </li>
    </ul>
    <form class="row g-3">
      <div class="col-auto w-50">
        <input type="text" class="form-control">
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-success mb-3">Найти</button>
      </div>
    </form>
  </div>
  <div class="col">
    <div class="card mb-2" style="max-width: 1200px; margin-top: 20px;">
      <div class="row g-0">
        <div class="col-md-4">
          <a href="advertisement.html" class="nav-link">
            <img src="{% static 'img/item.png' %}" class="img-fluid rounded-start" alt="Card title">
          </a>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              <a href="advertisement.html" class="nav-link"><strong>Продаю балкон</strong></a>
            </h5>
            <a href="advertisement.html" class="nav-link">
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas, nulla eos neque dolorum quis aliquid
                deleniti molestias, nobis debitis expedita, fugiat ea. Delectus harum quo dolores modi cupiditate in
                tempore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas quis similique quas
                architecto doloremque culpa consequatur excepturi provident quo fugit repudiandae inventore quae ea
                sequi, recusandae aliquid veritatis rerum quibusdam?
              </p>
              <span>Автор: Никнейм автора объявления</span>
              <p class="card-text"><small class="text-muted">Размещено: здесь должна стоять дата</small></p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-2" style="max-width: 1200px; margin-top: 20px;">
      <div class="row g-0">
        <div class="col-md-4">
          <a href="advertisement.html" class="nav-link">
            <img src="{% static 'img/item.png' %}" class="img-fluid rounded-start" alt="Card title">
          </a>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              <a href="advertisement.html" class="nav-link"><strong>Продам гараж</strong></a>
            </h5>
            <a href="advertisement.html" class="nav-link">
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas, nulla eos neque dolorum quis aliquid
                deleniti molestias, nobis debitis expedita, fugiat ea. Delectus harum quo dolores modi cupiditate in
                tempore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas quis similique quas
                architecto doloremque culpa consequatur excepturi provident quo fugit repudiandae inventore quae ea
                sequi, recusandae aliquid veritatis rerum quibusdam?
              </p>
              <span>Автор: Никнейм автора объявления</span>
              <p class="card-text"><small class="text-muted">Размещено: здесь должна стоять дата</small></p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-2" style="max-width: 1200px; margin-top: 20px;">
      <div class="row g-0">
        <div class="col-md-4">
          <a href="advertisement.html" class="nav-link">
            <img src="{% static 'img/item.png' %}" class="img-fluid rounded-start" alt="Card title">
          </a>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              <a href="advertisement.html" class="nav-link"><strong>Куплю баню</strong></a>
            </h5>
            <a href="advertisement.html" class="nav-link">
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas, nulla eos neque dolorum quis aliquid
                deleniti molestias, nobis debitis expedita, fugiat ea. Delectus harum quo dolores modi cupiditate in
                tempore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas quis similique quas
                architecto doloremque culpa consequatur excepturi provident quo fugit repudiandae inventore quae ea
                sequi, recusandae aliquid veritatis rerum quibusdam?
              </p>
              <span>Автор: Никнейм автора объявления</span>
              <p class="card-text"><small class="text-muted">Размещено: здесь должна стоять дата</small></p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer style="padding: 100px;" class="bg-primary">
  <nav class="navbar navbar-expand-sm navbar-dark">
    <a class="navbar-brand">Связь с разработчиком👉</a>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
            aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley" aria-current="page">Курсы по программированию<span
                  class="visually-hidden">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">Социальные сети</a>
          <div class="dropdown-menu" aria-labelledby="dropdownId">
            <a class="dropdown-item" href="https://vk.com/id697983987">VK</a>
            <a class="dropdown-item" href="https://www.instagram.com/alexvalpro/?next=%2F">Instagram</a>
            <a class="dropdown-item">Telegram @qlxlwlelz</a>
            <a class="dropdown-item">Спасибо что пользуетесь нашим сайтом <3</a>
          </div>
        </li>
      </ul>
      <form class="d-flex my-2 my-lg-0">
        <input class="form-control me-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</footer>
{% endblock %}
